<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.devmil.parrotzik2supercharge.api" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <service
            android:name="de.devmil.parrotzik2supercharge.api.ApiResponseReceiver"
            android:exported="true" >
        </service>

        <receiver
            android:name="de.devmil.parrotzik2supercharge.api.ZikAppPackageWatchReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
